html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#controls {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 3px;
  border-bottom: solid 1px #000;
  height: 1px;
  overflow: hidden;
  transition-duration: .2s;
  background-color: #222;
}

#controls:hover {
  height: 30px;
  background-color: #555;
}

#controls button {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

#controls button:active {
  background-color: red;
}

button {
  border: solid 1px transparent;
  background: transparent;
}

button:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #cccccc 99%);
}

#controls #home {
  font-size: 25px;
}

#controls #reload {
  font-size: 21px;
}

#controls #url-indicator {
  float: right;
  margin: 5px;
}

webview {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  transition-duration: .2s;
}

webview.loading {
  top: 100%;
}

.loader {
  margin: 300px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #6bac43;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
