html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
  display: inline-block;
  width: 100%;
}

.grid__item {

}

.grid__item.one-half {
  width: 50%;
}

.align--right {
  text-align: right;
}

#backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #202020;
}

#controls {
  display: inline;
  vertical-align: middle;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -36px;
  color: white;
  overflow: hidden;
  padding: 7px 14px 7px 7px;
  font-size: 14px;
  background-color: #202020;
  transition-duration: .2s;
  transition-delay: 1.5s;
}

#controls:hover {
  margin-bottom: 0;
  transition-delay: 0s;
}

#controls button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -.5px;
  background-color: #6bac43;
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 7px 10px;
  outline: none;
}

#controls button:hover {
  cursor: pointer;
  background-color: #2a4930;
}

#controls button + button {
  margin-left: 7px;
}

#controls div {
  display: inline-block;
}

webview {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  transition-duration: .2s;
}

webview.loading {
  top: 100%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -60px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid #6bac43;
  border-right: 1.1em solid #6bac43;
  border-bottom: 1.1em solid #6bac43;
  border-left: 1.1em solid transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .6s infinite linear;
  animation: load8 .6s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
